%html
  %head
    %title 会議室横断検索
    %meta{"http-equiv"=>'content', :content=>'text/html; charset=utf-8'}
    %link{:rel=>'stylesheet', :href=>'/style.css', :type => "text/css"}
  %body
    #header
      %h1 会議室横断検索
    #content
      = yield