table.resources{
    border-spacing:5px 5px;
}

td {
    text-align:center;
}
td.resource {
    width:100px;
    padding:5px;
    text-align:center;
}

.available{
    background-color: #7fff7f;
}

.unavailable{
    background-color:#ff7f7f;
}
